:root {
    flex-grow: 1;
    align-items: center;
    justify-content: center;
}

.SguiFrame {
    background-color: rgba(0, 0, 0, 0.102);
    overflow: hidden;
    backdrop-filter: blur(15);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.SguiFrame > .unity-tab-view {
    flex-grow: 1;
}

.SguiFrame > .unity-tab-view > .unity-tab-view__content-viewport {
    background-color: transparent;
}

.SguiFrame > .unity-tab-view > .unity-tab-view__content-viewport > .unity-tab-view__header-container {
    font-size: 8px;
    -unity-font-definition: url("project://database/Assets/_SGUI2_/Fonts/Ubuntu_Mono/UbuntuMono-Regular.ttf?fileID=12800000&guid=ee7cd79a36599ff418866ce8edfebbca&type=3#UbuntuMono-Regular");
    color: rgb(255, 0, 0);
}

.SguiFrame > .unity-tab-view > .unity-tab-view__content-viewport > .unity-tab-view__header-container > .unity-tab__header {
    background-color: rgba(0, 0, 0, 0.502);
}

.SguiFrame > .unity-tab-view > .unity-tab-view__content-viewport > .unity-tab-view__header-container > .unity-tab__header:checked {
}

.SguiFrame > .unity-tab-view > .unity-tab-view__content-viewport > .unity-tab-view__header-container > .unity-tab__header > .unity-tab__header-label {
}

.SguiFrame > .unity-tab-view > .unity-tab-view__content-viewport > .unity-tab-view__header-container > .unity-tab__header > .unity-tab__header-label:checked {
}

.SguiFrame > .unity-tab-view > .unity-tab-view__content-viewport > .unity-tab-view__content-container {
}

.SguiFrame > .unity-tab-view > .unity-tab-view__content-viewport > .unity-tab-view__content-container > .unity-tab {
}

.SguiFrame > .unity-tab-view > .unity-tab-view__content-viewport > .unity-tab-view__content-container > .unity-tab__content-container {
}
